{% extends 'panel_base.html' %}

{% block content %}

<head>
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F200626717686159" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F200626717686159" title="oEmbed Form">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200626717686159" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.15898" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.15898" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.15898" />

<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:rgba(255, 255, 255, 0.88);
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:580px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: false;
    }

</style>

</head>

<div role="main" class="form-all">

   {% if messages %}
   <div class="alert alert-info alert-dismissable">
      {% for msg in messages %}
      <p> ERROR MESSAGE: </p>
      <div class="alert alert-danger">
          <strong>{{ msg.message }}</strong>
      </div>
      {% endfor %}
   </div>
   {% endif %}


  <form role="form" method="POST" class="form-group" onsubmit="submitButton.disabled = true; return true;">

    {% csrf_token %}

    <ul class="form-section page-section">
      <li id="cid_19" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_19" class="form-header" data-component="header">
              Make an appointment
            </h2>
            <div id="subHeader_19" class="form-subHeader">
              Fill the form below ndicaticating the appoitment type you need. Please complete the profile before you make appointment.
            </div>
          </div>
        </div>
      </li>


      <li id="cid_12" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-small">
          <div class="header-text httal htvam">
            <h3 id="header_12" class="form-header" data-component="header">
              Appointment Type
            </h3>
          </div>
        </div>
      </li>
      
      <li class="form-line jf-required" data-type="control_checkbox" id="id_14">
        <label class="form-label form-label-top" id="label_14" for="input_14">
          Select which appointment type(s) you require
          <span class="form-required">
            *
          </span>
        </label>
        {{ form.service }}
        <!-- <div id="cid_14" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" data-component="checkbox">
 
            <span class="form-checkbox-item" style="clear:left">
              
            </span>
          </div>
        </div> -->
      </li>

       <li id="cid_12" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-small">
          <div class="header-text httal htvam">
            <h3 id="header_12" class="form-header" data-component="header">
              Appointment Time
            </h3>
          </div>

            <li class="form-line jf-required" data-type="control_textbox" id="id_4">
              <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4">
                Date
              </label>
              <div id="cid_4" class="form-input jf-required">
                <!-- <input type="text" data-type="input-textbox" class="form-textbox validate[required]" size="30" value="" data-component="textbox" aria-labelledby="label_4" required=""> -->
                {{ form.date }}
              </div>
            </li>

            <li class="form-line jf-required" data-type="control_textbox" id="id_4">
              <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4">
                Time
              </label>
              <div id="cid_4" class="form-input jf-required">
                <div class="ui-select">
                  {{ form.time }}
                </div>
              </div>
            </li>

            <li class="form-line" data-type="control_textarea" id="id_21">
              <label class="form-label form-label-top" id="label_21" for="input_21"> Any specific note you want to leave for Dr before the appointment? </label>
              <div id="cid_21" class="form-input-wide">
                <!-- <textarea id="input_21" class="form-textarea" name="q21_ifYes" cols="40" rows="6" data-component="textarea" aria-labelledby="label_21"></textarea> -->
                {{ form.note }}
              </div>
            </li>

        </div>
      </li>
      
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="text-align:center" data-align="center" class="form-buttons-wrapper  ">
            <button name="submitButton" type="submit" class="form-submit-button" data-component="button" data-content="">
              Submit Form
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="">
      </li>
    </ul>

  </form>
  </div>

  {% endblock %}