{% extends "base.html" %} 

{% load static %}
<body>
{% block content %}  

<br></br></br>  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="text-align: center">Professional Experience</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <!-- our_ability part start-->
    <section class="our_ability section_padding">

        <div class="container">
            <div class="row justify-content-between align-items-center">

                <div class="col-md-6 col-lg-7">
                    <div class="our_ability_member_text">
                        <h2>About</h2>
                        <p>
                        Dr. Shiwei Zhou is a California licensed and board eligible psychiatrist who completed general psychiatry training at the UCLA-Olive View program and child and adolescent specialty training at the Harbor-UCLA program. He has had extensive experiences in Emergency Psychiatry and Crisis Management, Substance Use and Addiction, Major Depressive disorder, Bipolar disorder, Schizophrenia, ADHD, Autism Spectrum Disorder, Developmental Delay, Anxiety, Gender Dysphoria, OCD, and Eating Disorders.</p>

                        <p>Dr. Zhou founded DRZ Associates to address the need for team-based comprehensive care. Our in house psychiatrists and therapists meet frequently and work collaboratively with family, teachers, counsellors, and schools in order to optimize a child’s life circumferentially. </p>

                        <p>Dr. Zhou has extensive experience in treating some of the most difficult conditions, including Autism, OCD, Eating Disorders, and Addiction.
                         </p>
                        <ul>
                            <li><span class="ti-mouse"></span>Professional</li>
                            <li><span class="ti-heart-broken"></span>Trustworthy</li>
                            <li><span class="ti-package"></span>Experienced</li>
                            <li><span class="ti-headphone-alt"></span>Supportive</li>
                        </ul>
                    </div>
                </div> 
                <div class="col-md-6 col-lg-5">
                    <div class="our_ability_img">
                        <img src="{% static 'img/drzhou.jpg' %}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- our_ability part end-->


    <!-- intro_video_bg start-->
    <section class="intro_video_bg">
        <div class="container">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Education:</h2>
                    <div class="intro_video_icon" style="font-weight:600; ">
                        <ul style="color: white;" > 
                            <li>Harbor-UCLA Child and Adolescent Psychiatry Fellowship Program</br>
                            Fellow July 2019 - Present</li></br>

                            <li>UCLA Olive View Psychiatry Residency Program</br>
                            Resident Physician 2016 - 2019</li></br>

                            <li>
                            University of Toledo</br>
                            Doctor of Medicine 2016</li></br>

                            <li> University of California, Davis</br>
                            BS Microbiology 2010</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- intro_video_bg part start-->
{% endblock %}
</body>
