{% extends "base.html" %} 
{% load static %}
{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/privacy.css' %}" />
</head>
      <br></br></br>  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="text-align: center">Terms and Acknowledge</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
<body>
    <div id="page">
        </div>
        <div id="content">
        	<div id="container">
             <div id="main">
                <div id="text">
               		<h1>Practice agreement</h1>
                  <h2>Appointments</h2>
                    <p>Office hours are by appointment only. The initial evaluation is scheduled
for 90 minutes to 120 minutes. Therapy sessions are scheduled for 60 minutes. Follow up
medication visits are scheduled for up to 30 minutes. Couples therapy sessions are
scheduled for 60 minutes. The appointment time is reserved for you, so it is important that
you are on time. If you are late, your appointment may still conclude at the end of your
scheduled appointment, or your appointment may have to be forfeited. I keep this policy so
that I remain prompt and on time for all my clients. However, if I am running late for your
appointment, you will still receive the full time that was allotted for your visit. Any significant additional time requested outside of scheduled appointments will be billed in 15 minute increments. This includes phone or email consultations, filling out forms, writing letters, review of outside records, or other administrative tasks.</p>
                    
                    <h2>24 Hour Cancellation Policy </h2>
                    <p> Appointment times are reserved for each patient. If you cannot make your appointment, please call to cancel or reschedule as soon as
possible, giving a minimum 24 hours notice. If you do not come to your appointment, or
cancel less than 24 hours beforehand, then you will be charged at your regular customary
fee for your missed session.</p>
                                            
                </div>

                </div>
        </div>
        <div class="clear"></div>  
     </div>
        
</body>
    <!-- End Sample Area -->
{% endblock %}
