{% extends "base.html" %} 
{% load static %}
{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/privacy.css' %}" />
</head>
      <br></br></br>  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="text-align: center">Terms and Acknowledge</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
<body>
    <div id="page">
        </div>
        <div id="content">
        	<div id="container">
             <div id="main">
                <div id="text">
               		<h1>WHAT KIND OF INFORMATION WE COLLECT?</h1>
                    <p>We collect the content, communications and other information you provide when you use our portal, including when you sign up for an account, create or share content, and message or communicate with others. This can include information in or about the content you provide (like metadata). It can also include what you see through features we provide, such as our appointment system, so we can send you TEXT confirmation.</p>
                    <h2>Personal Information</h2>
                    <p>This includes your email, demographic information, and record of your treatment, including notes, prescription history, appointment history, billing history, which you submit to us, or which your authorized provider submits.  We will never disclose your Personal Information without your consent, unless required by law.</p>

                    <h2>Profile Information</h2>
                    <p>In addition to the information provided automatically by your browser when you visit the Site, to become a user to the Service you will need to create an account.  You can create a profile by registering with the Service, then creating a password and provide information in your profile fields. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.</p>

                    <h2>User Contributions</h2>
                    <p>You can choose to share experience or make user contributions as part of the same. Please be aware that any Personal Data or contribution you choose to share in this way, will be published, and made generally available to other users and third parties via the Site. This user generated content is publicly available and we are not responsible for the privacy practices of the other users or third parties who may view and use that information. If you do not want your Personal Data or user contributions to be accessible in this way, please do not post it.</p>

                    <h2>Contact</h2>
                    <p>We may collect Personal Data through your communications via contact form.</p>

                    <h2>Payment Information</h2>
                    <p>If you elect to use paid features of the Service, you may need to provide Personal Data to our third-party payment processors, such as your credit card number.</p>

                    <h2>Cookies</h2>
                    <p>In an effort to improve the quality of the Service, we track information provided to us by your browser or by our software application when you view or use the Service. For more information about cookies, please view <a href=# > here.</p>
                    
                  <h1>HOW DO WE USE THIS INFORMATION?</h1>
                    <p>We do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent. We do share Personal Information with vendors who are performing services for the Company, such as the servers for payment who are provided security for transaction.</p>

                    <h2>Promote safety and security.</h2>
                    <p>We use the information we have to verify accounts and activity, combat harmful conduct, detect malicious posting, maintain the integrity of our community, and promote safety and security on and off of portal tools.</p>

                    <h2>Communicate with you.</h2>
                    <p>We use the information we have to send you appointment confirmation or account update. We also use your information to respond to you when you contact us.</p>

                    <h2>Account integrity</h2>
                    <p>In instances when a patient reports a bug or requests more info about his/her account, We may access the account to de-bug or further investigate. Protected health information gathered in these cases is not retained, and is treated in accordance with HIPAA regulations.</p>

                <h1>HOW DO WE SHARE DATA WITH THIRD PARTY?</h1>
                  <p>Dr Zhou have an ethical obligation to preserve the confidentiality of information gathered in association with the care of the patient. However, we may disclose personal health information without the specific consent of the patient (or authorized surrogate when the patient lacks decision-making capacity) under these circumstances:  1) To other health care personnel for purposes of providing care or for health care operations; 2) To appropriate authorities when disclosure is required by law; 3) To other third parties situated to mitigate the threat when in the physician’s judgment there is a reasonable probability that:
                    <li>The patient will seriously harm him/herself.</li>
                    <li>The patient will inflict serious physical harm on an identifiable individual or individuals.</li><br>

                    <h2>Public Content</h2>
                    <p>Forum post can be seen by anyone, even if they don't have an account. This includes your username; any information you share with a public audience; information in your public profile; and content you share on forums.</p>

                    <h2>Service Providers</h2>
                    <p>We may use third party service providers to help us deliver parts of the Service and to improve the Service. When we use third parties to assist us in processing your Personal Data, we require that they comply with appropriate confidentiality and data protection and security measures.</p>

                    <p>If we are involved in a merger, acquisition, financing due diligence, reorganization, bankruptcy, receivership, sale of our assets, or transition of service to another provider, your information may be sold or transferred as part of such a transaction as permitted by law and/or contract. You acknowledge and consent that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of our assets may continue to process your Personal Information as set forth in this Privacy Policy.</p>

                  <h1>HOW DO WE SECURE YOUR DATA? </h1>
                    <p>We implement security measures designed to protect your information from unauthorized access.  Your account is protected by your account password and we urge you to take steps to keep your personal information safe by not disclosing your password and by logging out of your account after each use.</p>  
                    <p>We further protect your information from potential security breaches by implementing certain technological security measures including encryption, firewalls and secure socket layer technology.  However, these measures do not guarantee that your information will not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software.  By using our Service, you acknowledge that you understand and agree to assume these risks.</p>

                  <h1>YOUR RIGHTS </h1>
                    <p>Under Applicable Data Protection Laws, you may have the right, in certain cases, to request access to your Personal Data that we process, to request details about such Personal Data, including the purposes and potential recipients of this data, to have such Personal Data rectified or deleted, to have the processing thereof restricted, or to object to the processing of your Personal Data, as well as to request a copy of your Personal Data in a standardized format so that it can be provided to another vendor.</p>

                    <h2>Personal information</h2>
                    <p>You have the right at any time to delete your account, update information or decline to provide Personal Data to us and/or refuse cookies in your browser, but if you do (or if successfully object to the processing of your Personal Data by us, or successfully request that such Personal Data be deleted) some if not all of our features or services may not function properly as a result. For example, you may not be able to make an appointment online without providing a valid number.</p>
                   
                    <h2>Your choices</h2>
                     <p>You have the right at any time to prevent us from contacting you for any purposes. If you would like to use email and/or text messages that may contain your protected health information please complete and sign this Consent <a href=# > below </a> . You are not required to authorize the use of email and/or text messaging and a decision not to sign this authorization will not affect your health care in any way. If you prefer not to authorize the use of email and/or text messaging, please indicate <a href=#> here </a>, we will continue to use U.S. Mail or telephone to communicate with you. Please note we may continue to send you administrative emails including, for example, periodic updates to our Privacy Policy and warning about your acount security.</p>

                     <h2>External links</h2>
                     <p>As part of the Service, we may provide links to or compatibility with other websites or applications.  However, we are not responsible for the privacy practices employed by those websites or the information or content they contain.  This Privacy Policy applies solely to information collected by us through the Site and the Service.  Therefore, this Privacy Policy does not apply to your use of a third party website accessed by selecting a link on our Site or via our Service.  To the extent that you access or use the Service through or on another website or application, then the privacy policy of that other website or application will apply to your access or use of that site or application.  We encourage our users to read the privacy statements of other websites before proceeding to use them.</p>

                  <h1>INFORMATION CONFIDENTIALITY AND SECURITY</h2>
                    <p>By using our service or providing personal data to us, you agree that we may communicate with you electronically regarding your use of the Site. If we learn of a security system’s breach, we may attempt to notify you electronically by posting a notice on our site or sending an email to you. You may have a legal right to receive this notice in writing. To receive free written notice of a security breach (or to withdraw your consent from receiving electronic notice), please notify us at <a href="{% url 'contactme' %}">here </a>.  You must put the statement “Privacy Rights” in the body of your subject. Please note that we will not accept inquiries via the telephone, email, or by facsimile, and we are not responsible for notices that are not labelled or sent properly, or that do not have complete information.</p>

                  <h1>IMPORTANT INFORMATION FOR CALIFORNIA RESIDENTS – YOUR CALIFORNIA PRIVACY RIGHTS</h1>
                  <p>If you are a California resident, you can learn more about your consumer privacy rights by reviewing the <a href="https://www.usnews.com/features/info/privacy/ccpa">California Privacy Notice</a>.</p>
                                            
                </div>

                </div>
        </div>
        <div class="clear"></div>  
     </div>
        
</body>
    <!-- End Sample Area -->
{% endblock %}
