{% extends 'base.html' %} 

{% load static %}
<body>

	{% block content %}

    <br></br></br>  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="text-align: center">Services</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

   <section class="feature_part single_feature_part">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 align-self-center">
                    <div class="single_feature_text ">
                        <h2>Provide Services</h2>
                        <p>Dr Zhou provide evidence based treatments in the form of psychopharmacotherapy, case coordination, motivational interviewing, CBT, DBT, and ACT.Our primary treatment approach is stabilization, environmental and resource optimization, and employing concepts in CBT, DBT, ACT to expand insight and augment mental faculties to help patients reduce stress and lead more emotionally satisfying lives.</p>
                        <a href="#" class="btn_2">More service</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="feature_item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="img/icon/feature_1.svg"
                                                alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="img/icon/feature_2.svg"
                                                alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="{% static 'img/icon/star.svg' %}"
                                                alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="img/icon/feature_1.svg"
                                                alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- our_ability part start-->
    <section class="our_ability section_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="our_ability_img">
                        <img src="{% static 'img/top_service.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="our_ability_member_text">
                        <h2>Community To Share</h2>
                        <p>We know how frustrated things can be when there is no one listen. Thus Dr Zhou created this community for anyone who is struggling with any problems in life. </p>
                        <ul>
                            <li><span class="ti-mouse"></span>blalba</li>
                            <li><span class="ti-heart-broken"></span>Worldclass Facilities</li>
                            <li><span class="ti-package"></span>Experienced Nurse</li>
                            <li><span class="ti-headphone-alt"></span>24 Hours Support</li>
                        </ul>
                        <a href="{% url 'forum_index' %}" class="btn_2">Enter Forum</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our_ability part end-->

    <!-- top_service part start-->
    <section class="top_service our_ability padding_top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-5 col-lg-5">
                    <div class="our_ability_member_text">
                        <h2>Information</h2>
                        <p>We know how frustrated things can be when there is no one listen. Thus Dr Zhou created this community for anyone who is struggling with any problems in life. </p>
                        <p>From parenting problems to ...</p>
                        <a href="{% url 'forum_index' %}" class="btn_2">Enter Forum</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="our_ability_img">
                        <img src="{% static 'img/acedemic.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top_service part end-->

    

{% endblock %}
</body>

