{% extends "base.html" %} 



<body>
	{% block content %}

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Terms and Acknowledge</h3>
			<p class="sample-text">I want to acknowledge you for taking steps towards improvement, and I appreciate the
			opportunity to you help you in this process. Prior to your initial appointment, please take
			the time to thoroughly review the following forms. Some forms are unique to my practice to
			facilitate a collaborative and streamlined working process. Other forms are requirements for
			all medical practices. By filling these forms out ahead of time, we will be able to make the
			most out of our first visit.
			Forms you will find in this packet:
			Information Form - basic information for your electronic record
			Notice of Privacy Practices (5 pages) - required for all medical practices, providing
			information regarding how protected health information is shared and your rights
			Authorization for Use or Disclosure of PHI - HIPAA (2 pages) - optional, but required if you
			would like for me to communicate about your treatment to others, such as other
			Physicians involved in your care, family members or friends. A separate consent is needed
			for each person that you would like me to be in contact with.
			Consent for Email and/or Text Message Communication - optional, but required if you
			would like to communicate via email or text messaging. Otherwise all communication will
			be during scheduled appointments, by phone, or U.S. mail. In order to receive invoices by
			email, this form does need to be filled out and signed.
			Credit Card Authorization - optional, but required if you are planning on using a credit card
			for payment and require a receipt of your transactions. If someone else is responsible for
			paying for services, then I ask that an authorization form be kept on file, even if other
			arrangements have been made.
			</p>
		</div>
	</section>
	<!-- End Sample Area -->
{% endblock %}