{% extends "base.html" %} 

<body>
	{% block content %}
	  <br></br></br>  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="text-align: center">Terms and Acknowledge</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		
		<div class="container box_1170">
			<h3>Data Collection</h3>
			<p class="sample-text">We collect the content, communications and other information you provide when you use our portal, including when you sign up for an account, create or share content, and message or communicate with others. This can include information in or about the content you provide (like metadata). It can also include what you see through features we provide, such as our appointment system, so we can send you TEXT comfirmation.</p></br>
            <ul>
				<li>with registration, name, address, email, telephone, IP address</li>
				<li>via our contact form</li>
			</ul>
		</div>
	</section>

	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Sharing information</h3>
			<p> Dr Zhou have an ethical obligation to preserve the confidentiality of information gathered in association with the care of the patient. However, we may disclose personal health information without the specific consent of the patient (or authorized surrogate when the patient lacks decision-making capacity) under these circumstances: </p></br>
			<ul>
				<li> To other health care personnel for purposes of providing care or for health care operations; or</li>
				<li>To appropriate authorities when disclosure is required by law.</li>
				<li> To other third parties situated to mitigate the threat when in the physician’s judgment there is a reasonable probability that: 1)The patient will seriously harm him/herself.
				The patient will inflict serious physical harm on an identifiable individual or individuals.; 2)The patient will seriously harm him/herself.
				The patient will inflict serious physical harm on an identifiable individual or individuals.</li>
		</div>
	</section>

	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Terms and Acknowledge</h3>
			<p class="sample-text">I want to acknowledge you for taking steps towards improvement, and I appreciate the
			opportunity to you help you in this process. Prior to your initial appointment, please take
			the time to thoroughly review the following forms. Some forms are unique to my practice to
			facilitate a collaborative and streamlined working process. Other forms are requirements for
			all medical practices. By filling these forms out ahead of time, we will be able to make the
			most out of our first visit.
			Forms you will find in this packet:
			Information Form - basic information for your electronic record
			Notice of Privacy Practices (5 pages) - required for all medical practices, providing
			information regarding how protected health information is shared and your rights
			Authorization for Use or Disclosure of PHI - HIPAA (2 pages) - optional, but required if you
			would like for me to communicate about your treatment to others, such as other
			Physicians involved in your care, family members or friends. A separate consent is needed
			for each person that you would like me to be in contact with.
			Consent for Email and/or Text Message Communication - optional, but required if you would like to communicate via email or text messaging. Otherwise all communication will be during scheduled appointments, by phone, or U.S. mail. In order to receive invoices by email, this form does need to be filled out and signed.
			Credit Card Authorization - optional, but required if you are planning on using a credit card
			for payment and require a receipt of your transactions. If someone else is responsible for
			paying for services, then I ask that an authorization form be kept on file, even if other
			arrangements have been made.
			</p>
		</div>
	</section>
	<!-- End Sample Area -->
{% endblock %}